/build/
/src/myRCP-client/*.o
/src/myRCP-server/*.o
/src/libmysyslog/*.o

*.o
*.so
*.a
*.out
*.exe

config/*.conf

*.log
/var/log/myrpc.log

*.tmp
*.temp
*~
*.swp
*.swo

.DS_Store
Thumbs.db

.vscode/
.idea/
*.iml

*.bak
